<%- include('../partials/header') %>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"> - <%= s.skillName %></a>
                <form action="/skills/<%= s.id %>?_method=DELETE"
                    method="POST"
                    class="delete-form">
                    <button type="submit">X</button>
                  </form>
             <%= s.id %>
            </li>
        <%});%>
    </ul>
<%- include('../partials/footer') %>