<%- include('../partials/header') %>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE"
                method="POST"
                class="delete-form">
                <%= s.id %><button type="submit">X</button>
                <a href="/skills/<%= s.id %>"> - <%= s.skillName %></a>
                
                  </form>
            </li>
        <%});%>
    </ul>
<%- include('../partials/footer') %>