<%- include('../partials/header') %>
        <h3>Skill #<%= skill.id %></h3>
        <h3>Skill Name: <%= skill.skillName %></h3>
        <h3>Skill Confidence: <%= skill.Confidence %></h3>
        <a href="/skills/<%= skill.id %>/edit"> EDIT SKILL</a>
<%- include('../partials/footer') %>